[Unit]
Description=Corvin UI Panel
After=network.target
Wants=network.target

[Service]
Type=simple
EnvironmentFile=/etc/corvin-ui/corvin-ui.env
WorkingDirectory=/usr/local/corvin-ui
ExecStart=/usr/local/corvin-ui/corvin-ui/corvin-ui
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
