#!/sbin/openrc-run

command="/usr/local/corvin-ui/corvin-ui/corvin-ui"
command_background=true
pidfile="/run/x-ui.pid"
description="x-ui Service"
procname="x-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/x-ui
}