{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>{{.Title}} | VPN Panel</title>
      <meta name="renderer" content="webkit" />
      <meta name="robots" content="noindex,nofollow" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0, user-scalable=yes"
      />
      <link rel="preload" href="/static/css/adminlte.min.css" as="style" />
      <link
         rel="stylesheet"
         href="/static/libs/index.css"
         integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q="
         crossorigin="anonymous"
         media="print"
         onload="this.media='all'"
      />
      <link
         rel="stylesheet"
         href="/static/libs/overlayscrollbars.min.css"
         crossorigin="anonymous"
      />
      <link
         rel="stylesheet"
         href="/static/libs/bootstrap-icons.min.css"
         crossorigin="anonymous"
      />
      <link rel="stylesheet" href="/static/css/adminlte.css" />
      <link
         rel="stylesheet"
         href="/static/libs/apexcharts.css"
         integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0="
         crossorigin="anonymous"
      />
      <link
         rel="stylesheet"
         href="/static/libs/jsvectormap.min.css"
         integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4="
         crossorigin="anonymous"
      />
   </head>
   <body class="hold-transition sidebar-mini">
      <script src="/static/vue/vue.min.js"></script>
      <script src="/static/axios/axios.min.js"></script>
      <div class="app-wrapper">
         <aside class="app-sidebar bg-dark text-white">
            <div class="p-3">
               <h4 class="text-center mb-4">VPN Panel</h4>
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a href="/panel" class="nav-link text-white">
                        <i class="bi bi-speedometer2 me-2"></i> Dashboard
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/panel/servers" class="nav-link text-white">
                        <i class="bi bi-hdd-network me-2"></i> Servers
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/panel/users" class="nav-link text-white">
                        <i class="bi bi-people me-2"></i> Users
                     </a>
                  </li>
                  <!-- complaints -->
                  <li class="nav-item">
                     <a href="/panel/complaints" class="nav-link text-white">
                        <i class="bi bi-exclamation-triangle me-2"></i> Complaints
                     </a>
                  </li>
                  <!-- settings -->
                  <li class="nav-item">
                     <a href="/panel/settings" class="nav-link text-white">
                        <i class="bi bi-gear me-2"></i> Settings
                     </a>
                  </li>
                  <li class="nav-item mt-3">
                     <a href="/static/index.html" class="btn btn-success w-100">
                        <i class="bi bi-box-arrow-up-right me-1"></i> Example
                     </a>
                  </li>
               </ul>
            </div>
         </aside>

         <div class="app-main content-wrapper p-4">
            {{template "content" .}}
         </div>
      </div>
   </body>
</html>
{{end}}
