{{define "content"}}
<div id="app">
   <h1>{{.Title}}</h1>
   <a href="/panel/servers/new" class="btn btn-success mb-2">Add Server</a>
   <div class="info-box">
      <div class="info-box-content">
         <span class="info-box-text">Всего онлайна</span>
         <span class="info-box-number">
            [[ totalOnline ]]
         </span>
      </div>
      <!-- /.info-box-content -->
   </div>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IP</th>
            <th>Port</th>
            <th>SecretWebPath</th>
            <th>Country</th>
            <th>Status</th>
            <th>Online</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <template v-if="servers.length>0">
            <tr v-for="(server,index) in servers" :key="server.id">
               <td>[[ index+1 ]]</td>
               <td>[[ server.name ]]</td>
               <td>[[ server.ip ]]</td>
               <td>[[ server.port ]]</td>
               <td>[[ server.secretWebPath ]]</td>
               <td>[[ server.country ]]</td>
               <td>[[ server.status || "Checking" ]]</td>
               <td>[[ server.online == undefined ? "Error" : server.online ]]</td>
               <td>
                  <a :href="`/panel/servers/edit/${server.id}`" class="btn btn-sm btn-primary">Edit</a>
                  <form :action="`/api/servers/delete/${server.id}`" method="post" style="display: inline">
                     <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                     </button>
                  </form>
               </td>
            </tr>
         </template>
         <tr v-else>
            <td colspan="9" class="text-center">No servers found</td>
         </tr>
      </tbody>
   </table>
</div>

<script>


   const app = new Vue({
      delimiters: ["[[", "]]"],
      el: "#app",
      data() {
         return {
            servers: [
               {
                  id: 0,
                  name: '',
                  ip: '',
                  port: 0,
                  secretWebPath: '',
                  country: '',
                  status: '',
                  online: 0,
               },
            ],
            totalOnline: 0
         };
      },
      methods: {
         loadServers() {
            console.log("Loading servers...");
            axios
               .get("/api/servers/list")
               .then((response) => {
                  console.log(response);
                  this.servers = response.data;
                  // this.servers = this.servers.map((s) => {
                  //    s.status = "Checking...";
                  //    return s;
                  // });
                  console.log(this.servers);
                  // this.getOnlineUsers();
               })
               .catch((error) => {
                  alert(error);
               });
         },
         async getOnlineUsersServers() {
            try {
               const { data } = await axios.get("/api/servers/onlines");
               this.servers = this.servers.map((s) => {
                  const foundServer = data.obj.servers.find((server) => server.id === s.id);
                  if (foundServer) {
                     s.online = foundServer.lastStat.online;
                  }
                  return s;
               });
               this.totalOnline = data.obj.total_online;
            } catch (e) {
               console.error("Fetch error:", e);
            }
         },
      },

      mounted() {
         this.loadServers();
         this.getOnlineUsersServers();
         setInterval(this.getOnlineUsersServers, 5000);
      },
   });
</script>
{{end}}